TrafficSimulator_Unity/[Ll]ibrary/
TrafficSimulator_Unity/[Tt]emp/
TrafficSimulator_Unity/[Oo]bj/
TrafficSimulator_Unity/[Bb]uild/
TrafficSimulator_Unity/[Bb]uilds/
TrafficSimulator_Unity/[Ll]ogs/
TrafficSimulator_Unity/[Uu]ser[Ss]ettings/
TrafficSimulator_Unity/[Mm]emoryCaptures/
TrafficSimulator_Unity/[Rr]ecordings/
TrafficSimulator_Unity/[Aa]ssets/Plugins/Editor/JetBrains*
TrafficSimulator_Unity/.vs/
TrafficSimulator_Unity/.gradle/
TrafficSimulator_Unity/ExportedObj/
TrafficSimulator_Unity/.consulo/
TrafficSimulator_Unity/*.csproj
TrafficSimulator_Unity/*.unityproj
TrafficSimulator_Unity/*.sln
TrafficSimulator_Unity/*.suo
TrafficSimulator_Unity/*.tmp
TrafficSimulator_Unity/*.user
TrafficSimulator_Unity/*.userprefs
TrafficSimulator_Unity/*.pidb
TrafficSimulator_Unity/*.booproj
TrafficSimulator_Unity/*.svd
TrafficSimulator_Unity/*.pdb
TrafficSimulator_Unity/*.mdb
TrafficSimulator_Unity/*.opendb
TrafficSimulator_Unity/*.VC.db
TrafficSimulator_Unity/*.pidb.meta
TrafficSimulator_Unity/*.pdb.meta
TrafficSimulator_Unity/*.mdb.meta
TrafficSimulator_Unity/sysinfo.txt
TrafficSimulator_Unity/*.apk
TrafficSimulator_Unity/*.aab
TrafficSimulator_Unity/*.unitypackage
TrafficSimulator_Unity/*.app
TrafficSimulator_Unity/crashlytics-build.properties
TrafficSimulator_Unity/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
TrafficSimulator_Unity/[Aa]ssets/[Ss]treamingAssets/aa.meta
TrafficSimulator_Unity/[Aa]ssets/[Ss]treamingAssets/aa/*